
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-center text-info"> Sorry we dont find this page. Could you try again?</h1>
<div>
    <a class="btn btn-default"asp-action="Index">Back to categories</a>
</div>
