@{
    ViewData["Title"] = "Home Page";
    Layout = "_HomeLayout";
}

<div>
    <h1 class="text-center text-primary">
        Welcome to Nortwind Database
    </h1>
    <p class="text-center text-info" style="margin-top: 100px">       
        <h4 class="text-center">CONFIDENTIALITY CAUTION AND DISCLAIMER</h4> 
        This message is intended only for the use of the individual(s) or entity(ies) to which it is
        addressed and contains information that is legally privileged and confidential. 
        If you are not the intended recipient, or the person responsible for delivering the message to
        the intended recipient, you are hereby notified that any dissemination,
        distribution or copying of this communication is strictly prohibited.
        All unintended recipients are obliged to delete this message and destroy any printed copies.
    </p>
</div>